/*
custom-editor-style.css
for tinymce

*/


body#tinymce.wp-editor a {
  color:#337ab7;
}

body#tinymce.wp-editor p {

  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  color: #6B6B6B;
  font-size: 14px;

}

body#tinymce.wp-editor,
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6{
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 10px;
}


body#tinymce.wp-editor code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

body#tinymce.wp-editor b,
body#tinymce.wp-editor strong {
    font-weight: 700;
}




body#tinymce.wp-editor pre {
    border-left: 8px solid #ccc;
    padding: 25px;
    display: block;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}



body#tinymce.wp-editor blockquote p{
  font-size: 20px;
  line-height: 1.6;
  font-style: normal;
}

body#tinymce.wp-editor blockquote {
    margin: 0 0 20px;
    border-left: 10px solid #aaa;
    display: block;
    font-size: 20px;
    line-height: 1.6;
    font-style: normal;
    color: #6a6a6a;
    background: #efefef;
    padding:25px 45px;
    position: relative;

}

body#tinymce.wp-editor blockquote:before {
    content: "\201C";
    font-weight: bold;
    font-size:85px;
    color:#3d3d3d;
    position: absolute;
    top: -20px;
    left: 0px;
    font-family: 'Georgia';
}
body#tinymce.wp-editor blockquote:after {
  content: "\201D";
  font-weight: bold;
  font-size: 85px;
  color: #3d3d3d;
  position: absolute;
  bottom: -40px;
  right: 0;
  font-family: 'Georgia';
}

/* Table */
body#tinymce.wp-editor table thead tr {
    background-color: #fbfbfb;
}

body#tinymce.wp-editor table tr:nth-child(even) {
    background-color: #fbfbfb;
}

body#tinymce.wp-editor table, body#tinymce.wp-editor td, body#tinymce.wp-editor th {
    border: 1px solid #ddd;
    border-spacing: 0px;
    padding: 8px;
    line-height: 1.42857143;
}


body#tinymce.wp-editor dd {
	margin: 0 1.5em 1.5em;
}

body#tinymce.wp-editor tr:hover {
    background-color: #f5f5f5;
}




body#tinymce.wp-editor .entry-content ol li,
body#tinymce.wp-editor .entry-content ul li{
	margin-bottom:10px;
}


body#tinymce.wp-editor .entry-content img{
    margin-top:10px;
    margin-bottom:20px;
}